@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
}

ul.dropdown-menu > li {
  text-align: center;
}

.hide {
  display: none !important;
}

@media (max-width: 580px) {
  * {
    font-size: 12px;
  }
}

body {
  background-image: url("../images/Tanjong+Beach+Club_Food_Salads+&+Mains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 95vh;

}

.header-container {
  background-color: rgba(119, 119, 119, 0.5);
  width: 100%;
}

.header-container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #790421;
  letter-spacing: 5px;
  line-height: 40px;
}

.header-container p {
  font-weight: 700;


}

.dropdown-item {
  cursor: pointer;
}

.ingredient-lines {
  font-size: smaller;
}

.recipe-cautions {
  font-size: small;
}

.card-title {
  text-align: center;
}